@media (max-width: 900px) {
    .read-more {
        background-position: 20% 0;
    }
}
@media (max-width: 760px) {
    .header__nav {
        display: none;
    }
    .mobile-btn {
        display: block;
    }
    .read-more {
        padding-top: 100px;
        padding-bottom: 100px;
        background-position: 40% -10%;  
    }
}
