.mobile-btn {
    display: none;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.mobile-btn__line {
    background-color: var(--light-color);
    display: block;
    border-radius: 10px;
    width: 25px;
    height: 2px;
}
.mobile-btn__line:first-child {
    transform: translateY(10px);
}
.mobile-btn__line:last-child {
    transform: translateY(-10px);
}